.containerr {
    padding: 100px 0;
  }
  
  .profilee {
    margin-top: 90px;
    margin-left: 592px;
    max-width: 300px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    position: relative;
  }
  
  .profilee h2 {
    color: black;
  }
  
  .profilee p {
    color: rgba(black, 0.8);
  }
  
  .profilee .imagee {
    width: 125px;
    height: 125px;
    /* background: red; */
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    
    right: 15px;
    top: -2px;
    transform-origin: bottom left;
    box-shadow: 0 3px 15px rgba(black, 0.1);
    transition: all 0.3s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .profilee:hover .imagee {
    transform: scale(1.5);
    border-radius: 10px;
  }
  .oo {
    width: 47px;
  }
  .nin {
    max-width: 243px;
  }
 