
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }
  .img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 26px;
  }
  
  .i {
    display: flex;
  }
  
  .a {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
  }
  
  .rat {
    color: white;
  }
  
.iv {
    width: 40px;
    margin-top: -14px;
  }
  .di{
    display: flex;
  }
  .title {
    text-align: center;
    color: white;
    margin-top: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .ia{
    width: 70px;
  }

  